body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colour-0);
  overflow-y: scroll; /* scrollbar persists to prevent shifting */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --colour-0: rgb(255, 255, 255); /* For index.html safe area default colour: #ffffff */
  --colour-1: rgb(250, 250, 250);
  --colour-2: rgb(240, 240, 240);
  --colour-3: rgb(220, 220, 220);
  --colour-4: rgb(180, 180, 180);
  --colour-5: rgb(80, 80, 80);
  --colour-6: rgb(40, 40, 40);
  --colour-7: rgb(0, 0, 0);
  --switch-colour: rgb(140, 140, 140);
}

[colour-theme="dark"] {
  --colour-0: rgb(20, 20, 20);
  --colour-1: rgb(30, 30, 30);
  --colour-2: rgb(50, 50, 50);
  --colour-3: rgb(70, 70, 70);
  --colour-4: rgb(100, 100, 100);
  --colour-5: rgb(180, 180, 180);
  --colour-6: rgb(200, 200, 200);
  --colour-7: rgb(240, 240, 240);
  --switch-colour: rgb(45, 193, 136);
}
